.d-flex {
  display: flex;
  gap: 0.5rem;
  .col-1 {
    flex-basis: 25%;
    flex-grow: 1;
  }
  .col-2 {
    flex-basis: 75%;
    flex-grow: 1;
  }
}

@media only screen and (max-width: 576px) {
  .d-flex {
    flex-direction: column;
  }
}
